# file type
*.zip
*.egg-info
*.log
__pycache__

# folders
data/*
!data/data-ppe.yaml
logs/*
build/*
dist/*
weights/*
output/*
sample/videos/*

# env
.env

.codegpt

# others 
!NEED TO FIX IN DA FUTURE.txt